@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

:root {
    --gray: hsl(0, 0%, 70%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --pink: hsl(322, 100%, 66%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 5rem 7rem;
    place-items: center;
    width: 100%;
}

.nav__logo {
    height: auto;
    width: clamp(200px, 240px, 100%);
}

.nav__btn {
    all: unset;
    border: 2px solid var(--pink);
    border-radius: 2rem;
    color: var(--pink);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1.7rem;
}
.nav__btn:hover {
    border-color: var(--light-pink);
    color: var(--light-pink);
    transition: all 0.5s ease-in-out;
}
.heading {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    padding: 7rem;
}

.heading__title {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center;
}

.heading__description {
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 2rem 6rem;
    text-align: center;
    width: clamp(200px, 67%, 100%);
}

.btn {
    all: unset;
    background-color: var(--pink);
    box-shadow: 0px 8px 20px -10px hsl(192, 100%, 9%);
    border-radius: 4rem;
    color: var(--very-pale-blue);
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    margin-top: 1rem;
    padding: 1.7rem 3rem;
    text-align: center;
    width: clamp(200px, 25%, 100%);
}

.btn:hover {
    background-color: var(--light-pink);
    transition: all 0.5s ease-in-out;
}

.heading__image {
    padding: 6rem;
    width: 100%;
}

.heading__container {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    width: 100%;
}

.stats {
    display: inline-block;
}

.stats__img {
    width: clamp(2rem, 3rem, 100%);
}

.stats__data {
    font-size: 6rem;
}

.stats__description {
    color: var(--gray);
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 1rem;
}

.main__container {
    align-items: center;
    background-color: var(--very-pale-blue);
    display: flex;
    gap: 8rem;
    justify-content: center;
    flex-direction: row;
    margin: 7rem 0;
    padding: 5rem 8rem;
    position: relative;
    z-index: 1;
}

.main__container::before {
    background: url("./images/bg-section-top-desktop-1.svg") no-repeat;
    content: "";
    left: 0;
    min-height: 20vh;
    position: absolute;
    top: -18vh;
    width: 100%;
}
.main__container::after {
    background: url("./images/bg-section-bottom-desktop-1.svg") no-repeat;
    bottom: -18vh;
    content: "";
    left: 0;
    min-height: 20vh;
    position: absolute;
    width: 100%;
}

.main__container--reverse {
    background: none;
    flex-direction: row-reverse;
    margin-bottom: 10rem;
}

.main__container--reverse::before,
.main__container--reverse::after,
.main__container--community::before,
.main__container--community::after {
    background: none;
    content: none;
}

.main__container--background::before {
    background: url("./images/bg-section-top-desktop-2.svg") no-repeat;
}

.main__container--background::after {
    background: url("./images/bg-section-bottom-desktop-2.svg") no-repeat;
}

.main__container--community {
    background: none;
}

.section {
    width: 100%;
}

.section--community {
    margin-bottom: 7rem;
    text-align: center;
}
.section__title {
    font-family: "Poppins", sans-serif;
    font-size: 2.3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.section__description {
    width: 100%;
}

.container__img {
    width: clamp(200px, 520px, 50%);
}

.footer {
    align-items: center;
    background-color: var(--very-dark-cyan);
    color: hsl(207, 100%, 98%);
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-weight: 600;
    margin-top: 7rem;
    padding: 7rem;
    position: relative;
}

.footer::before {
    background: url("./images/bg-footer-top-desktop.svg") no-repeat;
    content: "";
    left: 0;
    min-height: 18vh;
    position: absolute;
    top: -18vh;
    width: 100%;
}

.about-us{
    display: flex;
    flex-direction: column;
}

.about-us__img {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(153deg)
        brightness(305%) contrast(101%);
    padding-bottom: 1rem;
    width: clamp(150px, 200px, 100%);
}

.about-us__contact{
    display: inline-block;
    max-width: 2rem;
}

.description{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
